/* Header & Navbar */
.head {
    background-color: #1F2937;
}

/* NAVBAR */
.navbar {
    font-size: 18px;
    color: #F9FAF8;
    width: 100%;
    display: inline-block;
}
.navbar img {
    width: 10%;
    padding: 1rem;
    min-width: 40px;
    float: left;
}
.navbar img::after {
    content: "";
    display: table;
    clear: both;
}
.head-links {
    list-style: none;
    padding: 1rem;
    text-align: right;
}
.head-links li {
    display: inline-block;
    padding: 0 0.5rem;
}
.head-links a {
    color: #F9FAF8;
    text-decoration: none;
    display: block;
    padding: 0.25rem;
}
.head-links a:visited {
    color: #F9FAF8
}
.head-links a:hover {
    background-color: #F9FAF8;
    color: #1F2937;
    border-radius: 0.5rem;
}


/* Header ABOUT */
.about {
    display: flex;
    margin: auto;
    padding: 2rem;
    color: #F9FAF8;
}
.about-text {
    padding-right: 1rem;
}
.about-text h1{
    font-size: 2.5rem;
    font-weight: bold;
}
.about-text p {
    font-size: 18px;
}
.about-text button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
}
.about-text button:hover {
    background-color: #F9FAF8;
    color: #1F2937;
}
.about img {
    width: 30%;
    min-width: 250px;
    /*max-width: 180px;*/
    max-height: 250px;
    border: 3px solid #1F2937;
    border-radius: 1rem;
}

@media (max-width: 530px) {
    .about img {
        visibility: hidden;
    }
}


/* HOME */
.home h1 {
    color: #1F2937;
    text-align: center;
}
.projects {
    display: flex;
    justify-content: center;
    padding: 0 3rem 3rem 3rem;
}
.project {
    padding: 1.5rem;
    text-align: center;
    font-size: 1.15rem;
}
.project img {
    width: 8rem;
    border: 3px solid #3882F6;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: #E5E7EB;
}

.project a {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 0.25rem;
    padding: 0.1rem 0.5rem;
}
.project a:hover {
    background-color: #1F2937;
}

@media (max-width: 580px) {
    .projects {
        flex-direction: column;
    }
}

/* HOME DEV */

.home-dev {
    background-color: #E5E7EB;
    padding: 1rem;
}
.quote {
    padding: 1rem;
    font-style: italic;
    font-size: 1.25rem;
    color: #1F2937;
}
.quote figcaption {
    text-align: right;
    padding-top: 1rem;
    padding-right: 2rem;
    font-weight: bold;
}
.home-end {
    padding: 2rem;
}
.goodbye {
    background-color: #3882F6;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.goodbye button {
    margin-left: 2rem;
    border-radius: 3rem;
    padding: 1rem;
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
}
.goodbye button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    border-color: #1F2937;
}


/* FOOTER CONTACT */
.foot {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}
.own, .contact {
    padding: 2rem;
}
.own {
    padding-right: 3rem;
}
.contact {
    padding-left: 3rem;
}
